*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 50px;
}
.container {
    text-align: center;
    background-color: aqua;
}
.products  {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.table-product {
    padding: 10px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.table-product td {
   padding: 15px;
   font-size: 20px;
}
.table-product th {
    padding: 10px;
    font-size: 30px;
 }


 .addProduct{
    background-color: aquamarine;
     padding-bottom: 100px;
    
 }
 .addProduct h1 {
    text-align: center;
     padding-bottom:20px;
 }

 .addProduct .form-input {
   padding-left: 30px;
   
     
 }
 .addProduct .form-input div{
     padding: 10px;
 }
 .addProduct .form-input label {
    padding-right: 50px;
 }
 .addProduct .form-input input{
     width: 500px;
     
 }
 .addProduct .form-input textarea{
    width: 500px;
    height: 70px;
    
}